# Logs
U-C_TODO_frontend/dlogs
U-C_TODO_frontend/*.log
U-C_TODO_frontend/npm-debug.log*
U-C_TODO_frontend/yarn-debug.log*
U-C_TODO_frontend/yarn-error.log*
U-C_TODO_frontend/pnpm-debug.log*
U-C_TODO_frontend/lerna-debug.log*

U-C_TODO_frontend/node_modules
U-C_TODO_frontend/dist
U-C_TODO_frontend/dist-ssr
U-C_TODO_frontend/*.local

# Editor directories and files
U-C_TODO_frontend/.vscode/*
U-C_TODO_frontend/!.vscode/extensions.json
U-C_TODO_frontend/.idea
U-C_TODO_frontend/.DS_Store
U-C_TODO_frontend/*.suo
U-C_TODO_frontend/*.ntvs*
U-C_TODO_frontend/*.njsproj
U-C_TODO_frontend/*.sln
U-C_TODO_frontend/*.sw?

**/node_modules/**


